.btn-primary {
    background-color: #57e5ca;
    color: #1e1d62;
    width: 100%;
    font-weight: 600;
    font-style: normal;
    border: 0;
    border-radius: 4px;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: rgba(87, 229, 202, 0.75);
    color: #1e1d62;
    transition: ease-in-out 0.2s;
}

.btn-primary:active {
    background-color: #1e1d62;
    color: #57e5ca;
}

.btn-primary:focus {
    background-color: #1e1d62;
    color: #57e5ca;
    box-shadow: unset;
    outline: 0px;
    border: unset;
    transition: 0.2s ease;
}

#resultPartText {
  color: white;
  border-radius: 4px;
}

.container-fluid{
    padding: 0 !important;
}
